In [53]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import udf, col, lower, regexp_replace
from pyspark.ml.feature import Tokenizer, StopWordsRemover, NGram, HashingTF, IDF
from pyspark.ml import Pipeline
from pyspark.sql.types import StructType,StructField
import pandas as pd
#from nltk.stem.snowball import SnowballStemmer

In [54]:
spark = SparkSession.builder.getOrCreate()

In [55]:
#.config(kafka)

In [56]:
review= pd.read_csv("/home/jovyan/work/data/dataset_booking_prepared2.csv", sep=";")
review= review.sample(frac=1)
review.head(10)

,Unnamed: 0,Hotel_Name,lat,long,Average_Score,Review,Polarity,Word_counts,Tags
240546,651436,Grange Tower Bridge Hotel,51.511551,-0.071492,8.7,Great Value for money attentive staff and ver...,1,10,"[' Leisure trip ', ' Couple ', ' Superior Doub..."
516461,763245,Montfleuri,48.874715,2.290639,8.2,Location offered an upraded room,1,6,"[' Leisure trip ', ' Family with older childre..."
183693,355262,DoubleTree by Hilton London Islington,51.532251,-0.109571,8.6,There are both newly remodeled and older room...,0,29,"[' Leisure trip ', ' Family with young childre..."
370918,294682,Hotel JL No76,52.359592,4.880159,8.8,No Negative,0,0,"[' Business trip ', ' Solo traveler ', ' Soute..."
299736,693863,Hilton London Wembley,51.557696,-0.283526,8.8,No Positive,1,0,"[' Leisure trip ', ' Solo traveler ', ' Queen ..."
533119,72825,NH Milano Touring,45.476917,9.196665,8.4,No Negative,0,0,"[' Leisure trip ', ' Couple ', ' Standard Doub..."
361962,250779,Hotel Erzherzog Rainer,48.195323,16.367288,8.8,The fact that owners of the hotel care only a...,0,21,"[' Business trip ', ' Solo traveler ', ' Speci..."
326574,464823,Holiday Inn Paris Gare Montparnasse,48.838292,2.323019,7.5,very friendly and helpful personnel,1,6,"[' Leisure trip ', ' Group ', ' Twin Room Non ..."
767634,620126,The Royal Horseguards,51.505418,-0.124150,8.9,It s located one block off of the main street...,1,144,"[' Leisure trip ', ' Solo traveler ', ' Deluxe..."
517005,484191,Monument Hotel,41.393908,2.162256,9.3,Very new and very clean in best location this...,1,41,"[' Leisure trip ', ' Couple ', ' Junior Suite ..."

In [31]:
df=spark.createDataFrame(review)

In [57]:
#telechargement des données de trainning
train_review = "/home/jovyan/work/data/dataset_booking_prepared2.csv"

df = spark.read.format('csv').options(header=True).options(delimiter= ";").load(train_review )
df.dtypes

[('_c0', 'string'),
 ('Hotel_Name', 'string'),
 ('lat', 'string'),
 ('long', 'string'),
 ('Average_Score', 'string'),
 ('Review', 'string'),
 ('Polarity', 'string'),
 ('Word_counts', 'string'),
 ('Tags', 'string')]

In [58]:
df.show(5)

+------+--------------------+----------+----------+-------------+--------------------+--------+-----------+--------------------+
|   _c0|          Hotel_Name|       lat|      long|Average_Score|              Review|Polarity|Word_counts|                Tags|
+------+--------------------+----------+----------+-------------+--------------------+--------+-----------+--------------------+
| 65662|Inntel Hotels Ams...|52.3760456| 4.8943917|          8.2| A little bit out...|       0|         26|[' Leisure trip '...|
|165497|Britannia Interna...|51.5019097|-0.0232208|          7.1| Staff was very r...|       0|         29|[' Leisure trip '...|
|206208|Hilton London Ang...|51.5360906|-0.1048176|          8.6| Everything was 1...|       0|          5|[' Leisure trip '...|
|547521|Copthorne Tara Ho...| 51.499046|-0.1917073|          8.1| Clean room with ...|       1|         17|[' Leisure trip '...|
|308582|Club Quarters Hot...| 51.506935| -0.126012|          8.5| Breakfast was ex...|       0|         30|[' Leisure trip '...|
+------+--------------------+----------+----------+-------------+--------------------+--------+-----------+--------------------+
only showing top 5 rows

In [59]:
#type(df)

pyspark.sql.dataframe.DataFrame

In [62]:


#telechargement des données de trainning
train_review = "/home/jovyan/work/data/dataset_booking_prepared2.csv"

# lecture d'un fichier de manière la plus brute
schema = StructType([
    StructField('c0', IntegerType(),True),
    StructField('hotel_name', StringType(),True),
    StructField('lat', FloatType(),True),
    StructField('long', FloatType(),True),
    StructField('average_score', FloatType(),True),
    StructField('review', StringType(),True),
    StructField('polarity', IntegerType(),True),
    StructField('word_counts', IntegerType(),True),
    StructField('tags', StringType(),True),
])

df = spark.read.format('csv').options(header=True).options(delimiter= ";").schema(schema).load(train_review )
df.dtypes

[('c0', 'int'),
 ('hotel_name', 'string'),
 ('lat', 'float'),
 ('long', 'float'),
 ('average_score', 'float'),
 ('review', 'string'),
 ('polarity', 'int'),
 ('word_counts', 'int'),
 ('tags', 'string')]

In [63]:
df.show(5)

+------+--------------------+---------+----------+-------------+--------------------+--------+-----------+--------------------+
|    c0|          hotel_name|      lat|      long|average_score|              review|polarity|word_counts|                tags|
+------+--------------------+---------+----------+-------------+--------------------+--------+-----------+--------------------+
| 65662|Inntel Hotels Ams...|52.376045| 4.8943915|          8.2| A little bit out...|       0|         26|[' Leisure trip '...|
|165497|Britannia Interna...| 51.50191|-0.0232208|          7.1| Staff was very r...|       0|         29|[' Leisure trip '...|
|206208|Hilton London Ang...| 51.53609|-0.1048176|          8.6| Everything was 1...|       0|          5|[' Leisure trip '...|
|547521|Copthorne Tara Ho...|51.499046|-0.1917073|          8.1| Clean room with ...|       1|         17|[' Leisure trip '...|
|308582|Club Quarters Hot...|51.506935| -0.126012|          8.5| Breakfast was ex...|       0|         30|[' Leisure trip '...|
+------+--------------------+---------+----------+-------------+--------------------+--------+-----------+--------------------+
only showing top 5 rows

In [64]:
df= df.dropna(how="any")
df.filter(df.polarity.isNull()).count()

0

In [37]:
type(df)

pyspark.sql.dataframe.DataFrame

In [38]:
#pip install sparknlp

In [39]:
#pip install nltk

In [65]:
#from sparknlp.base import Finisher, DocumentAssembler
#from sparknlp.annotator import (Tokenizer, Normalizer,
 #                               LemmatizerModel, StopWordsCleaner)
#from pyspark.ml import Pipeline
#from pyspark.ml.feature import Tokenizer, NGram, HashingTF, IDF

import nltk
from nltk.corpus import stopwords


nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Pipeline

In [66]:
# Tokenize text
tokenizer = Tokenizer(inputCol='review', outputCol='words_token')

#StopWord
stopwordList = nltk.corpus.stopwords.words('english')
remover = StopWordsRemover(inputCol='words_token', outputCol='words_clean', stopWords=stopwordList )

#Ngram
bigram = NGram(n=2, inputCol="words_clean", outputCol="bigrams")

#HashingTF
hashingTF = HashingTF(inputCol="bigrams", outputCol="rawFeatures", numFeatures=100000)

#IDF
idf = IDF(inputCol="rawFeatures", outputCol="features")

In [67]:
from pyspark.ml import Pipeline

pipeline = Pipeline() \
     .setStages([
           tokenizer,
           remover,
           bigram,
           hashingTF,
           idf
     ])

In [68]:
# test
df_prepared= pipeline.fit(df).transform(df)
df_prepared.show(10)

+------+--------------------+---------+----------+-------------+--------------------+--------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|    c0|          hotel_name|      lat|      long|average_score|              review|polarity|word_counts|                tags|         words_token|         words_clean|             bigrams|         rawFeatures|            features|
+------+--------------------+---------+----------+-------------+--------------------+--------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 65662|Inntel Hotels Ams...|52.376045| 4.8943915|          8.2| A little bit out...|       0|         26|[' Leisure trip '...|[, a, little, bit...|[, little, bit, w...|[ little, little ...|(100000,[7693,100...|(100000,[7693,100...|
|165497|Britannia Interna...| 51.50191|-0.0232208|          7.1| Staff was very r...|       0|         29|[' Leisure trip '...|[, staff, was, ve...|[, staff, rude, m...|[ staff, staff ru...|(100000,[1354,398...|(100000,[1354,398...|
|206208|Hilton London Ang...| 51.53609|-0.1048176|          8.6| Everything was 1...|       0|          5|[' Leisure trip '...|[, everything, wa...|[, everything, 1s...|[ everything, eve...|(100000,[58038,78...|(100000,[58038,78...|
|547521|Copthorne Tara Ho...|51.499046|-0.1917073|          8.1| Clean room with ...|       1|         17|[' Leisure trip '...|[, clean, room, w...|[, clean, room, c...|[ clean, clean ro...|(100000,[13082,26...|(100000,[13082,26...|
|308582|Club Quarters Hot...|51.506935| -0.126012|          8.5| Breakfast was ex...|       0|         30|[' Leisure trip '...|[, breakfast, was...|[, breakfast, exp...|[ breakfast, brea...|(100000,[4219,435...|(100000,[4219,435...|
|709106|The Grand at Traf...|51.506935| -0.126012|          8.3| Location of the ...|       1|         16|[' Leisure trip '...|[, location, of, ...|[, location, hote...|[ location, locat...|(100000,[4625,130...|(100000,[4625,130...|
|302509|Hotel Pulitzer Paris|  48.8732| 2.3425446|          8.4| Rooms are really...|       0|         17|[' Business trip ...|[, rooms, are, re...|[, rooms, really,...|[ rooms, rooms re...|(100000,[161,1200...|(100000,[161,1200...|
|580905|Royal Amsterdam H...|52.365726| 4.8972883|          7.4| The location is ...|       1|         15|[' Leisure trip '...|[, the, location,...|[, location, cent...|[ location, locat...|(100000,[29842,38...|(100000,[29842,38...|
|452378| The Nadler Victoria|51.499027|-0.1427453|          9.3|         No Positive|       0|          0|[' Leisure trip '...|      [no, positive]|          [positive]|                  []|      (100000,[],[])|      (100000,[],[])|
| 52242|      Hotel Esther a|52.370544| 4.8886437|          9.1| Our bedroom was ...|       0|         25|[' Leisure trip '...|[, our, bedroom, ...|[, bedroom, small...|[ bedroom, bedroo...|(100000,[622,6488...|(100000,[622,6488...|
+------+--------------------+---------+----------+-------------+--------------------+--------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

## Separation du test et du train

In [69]:
split= df_prepared.randomSplit([0.7,0.3],100)

In [70]:
train= split[0]
train.count()

522889

In [71]:
test=split[1]
test.count()

223511

# Model LR

In [72]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol = 'features', labelCol = 'polarity', maxIter=10)
lrModel = lr.fit(train)

#print('Coefficient:' + str(lrModel.coefficients))
#print('Intercept:' + str(lrModel.intercept))

In [48]:
print(lrModel)

LogisticRegressionModel: uid=LogisticRegression_412ed1d9d5a9, numClasses=2, numFeatures=100000

In [73]:
lrPreds= lrModel.transform(test)

In [74]:
lrPreds.select('hotel_name','polarity','prediction').show()

+--------------------+--------+----------+
|          hotel_name|polarity|prediction|
+--------------------+--------+----------+
|   Element Amsterdam|       0|       0.0|
|   Good Hotel London|       0|       0.0|
|Park Plaza London...|       0|       0.0|
|AC Hotel Sants a ...|       0|       1.0|
|Best Western Prem...|       0|       0.0|
|Eurostars Grand M...|       0|       0.0|
|Hilton London Met...|       0|       0.0|
|     Mondrian London|       0|       0.0|
|Novotel Paris Cen...|       0|       0.0|
|M by Montcalm Sho...|       0|       0.0|
|Holiday Inn Paris...|       0|       0.0|
|     Commodore Hotel|       0|       0.0|
|Catalonia Diagona...|       0|       0.0|
|Eurostars Monumental|       0|       0.0|
|Shaftesbury Hyde ...|       0|       0.0|
|Suite Hotel 900 m...|       0|       0.0|
|Park Plaza London...|       0|       0.0|
|Hilton London Ban...|       0|       0.0|
|Rochester Champs ...|       0|       0.0|
|Hilton Vienna Dan...|       0|       0.0|
+--------------------+--------+----------+
only showing top 20 rows

In [75]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

my_eval_lr = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='polarity', metricName='areaUnderROC')
my_eval_lr.evaluate(lrPreds)

0.8554703565139703

# Sauvegarde des modèles

In [42]:
# Save and load model
lrModel.save("mylrModel")

In [20]:
# Save and load Pipeline
pipeline.save("path")